@use '../abstracts' as *;

:root {
  --ff-primary: 'Manrope', sans-serif;
  --fs-100: 0.938rem;
  --fs-200: 1rem;
  --fs-300: 2rem;
  --fs-400: clamp(2.25rem, 12vw, 2.75rem);

  @include breakpoint(medium) {
    --fs-100: 1.5rem;
    --fs-200: 1.75rem;
    --fs-300: 2.5rem;
    --fs-400: 4rem;
  }

  @include breakpoint(large) {
    --fs-100: 0.813rem;
    --fs-200: 1rem;
    --fs-300: 1.75rem;
    --fs-400: 2.5rem;
  }
}

body {
  font-family: var(--ff-primary);
  font-size: var(--fs-100);
  font-weight: 600;
  color: var(--grayish-blue);
  text-align: center;

  @include breakpoint(large) {
    text-align: start;
  }
}

h1 {
  font-size: var(--fs-300);
  font-weight: 800;
  color: var(--dark-desaturated-blue);
}
