@use '../abstracts' as *;

.button {
  --button-width: clamp(10rem, 45vw, 15rem);
  --button-height: clamp(3.5rem, 10vw, 4.5rem);
  width: var(--button-width);
  height: var(--button-height);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $dark-desaturated-blue;
  border: none;
  border-radius: calc(var(--button-height) / 2);
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: $pale-blue;
  cursor: pointer;
  transition: color 200ms ease;

  @include breakpoint(medium) {
    --button-width: 21.25rem;
    --button-height: 5.125rem;
  }

  @include breakpoint(large) {
    --button-width: 10.625rem;
    --button-height: 2.563rem;
    justify-self: flex-end;
  }

  &:hover,
  &:focus-visible {
    color: $white;
  }
}
