@use '../abstracts' as *;

.card {
  width: min(100%, rem(654));
  background-color: $white;
  box-shadow: rem(-2) rem(8) rem(20) rgba(hsl(225, 20%, 60%), 0.15);

  @include breakpoint(medium) {
    --card-padding-inline: 1.5rem;
    border-radius: rem(14);
    padding-inline: var(--card-padding-inline);
  }

  &__top {
    display: grid;
    justify-items: center;
    grid-template-areas: 'heading' 'slider' 'price' 'options';
    padding-block: rem(68) rem(78);
  }

  &__heading {
    grid-area: heading;
  }

  &__price {
    display: inline-flex;
    align-items: center;
    column-gap: rem(22);
    grid-area: price;
    font-size: 1.75rem;
  }

  &__value {
    font-size: var(--fs-400);
    font-weight: 800;
    line-height: 1;
    color: $dark-desaturated-blue;
  }

  &__options {
    grid-area: options;
    justify-self: flex-end;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas: 'monthly toggle yearly';
    grid-template-columns: repeat(3, max-content);
    column-gap: rem(24);
    position: relative;
    margin-block-start: rem(79);
  }

  &__description {
    &:nth-of-type(1) {
      grid-area: monthly;
    }

    &:nth-of-type(2) {
      grid-area: yearly;
      display: inline-flex;
      align-items: center;
      column-gap: rem(10);
    }
  }

  &__discount {
    --discount-w: 5.125rem;
    --discount-h: 2.375rem;
    width: var(--discount-w);
    height: var(--discount-h);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: $light-grayish-red;
    border-radius: calc(var(--discount-h) / 2);
    font-size: rem(18);
    line-height: 1;
    color: $light-red;

    &::before {
      content: '-25%';

      @include breakpoint(large) {
        content: '25% discount';
      }
    }
  }

  &__divider {
    height: rem(1);
    border: none;
    margin-inline: calc(var(--card-padding-inline) * -1);
    background-color: $light-grayish-blue-100;
  }

  &__bottom {
    display: grid;
    justify-items: center;
    padding-block: rem(48) rem(68);
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: rem(21);
    margin-block-end: rem(64);
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: rem(32);

    svg {
      width: rem(18);
      height: rem(16);
    }
  }
}
