@use '../abstracts' as *;

.card {
  --card-padding-inline: 1.5rem;
  width: min(100%, rem(670));
  background-color: $white;
  padding-inline: var(--card-padding-inline);
  box-shadow: rem(-2) rem(8) rem(20) rgba(hsl(225, 20%, 60%), 0.15);

  @include breakpoint(medium) {
    --card-padding-inline: 1.5rem;
    border-radius: rem(14);
  }

  @include breakpoint(large) {
    --card-padding-inline: 2.875rem;
    width: min(100%, rem(540));
    border-radius: rem(8);
  }

  &__top {
    display: grid;
    justify-items: center;
    grid-template-areas: 'heading' 'slider' 'price' 'options';
    padding-block: rem(68) rem(78);

    @include breakpoint(large) {
      align-items: center;
      grid-template-areas: 'heading price' 'slider slider' 'options options';
      padding-block: rem(48) rem(40);
    }
  }

  &__heading {
    grid-area: heading;
    font-size: var(--fs-100);
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.17em;

    @include breakpoint(large) {
      justify-self: flex-start;
      letter-spacing: 0.1em;
    }
  }

  &__price {
    display: inline-flex;
    align-items: center;
    column-gap: rem(12);
    grid-area: price;
    font-size: var(--fs-200);
    white-space: nowrap;

    @include breakpoint(medium) {
      column-gap: rem(22);
    }

    @include breakpoint(large) {
      column-gap: rem(8);
      justify-self: flex-end;
    }
  }

  &__value {
    font-size: var(--fs-400);
    font-weight: 800;
    line-height: 1;
    color: $dark-desaturated-blue;
  }

  &__options {
    grid-area: options;
    justify-self: center;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas: 'toggle monthly' 'toggle yearly';
    grid-template-columns: repeat(2, max-content);
    gap: rem(18) rem(4);
    position: relative;
    margin-block-start: rem(54);

    @include breakpoint(medium) {
      grid-template-areas: 'monthly toggle yearly';
      grid-template-columns: repeat(3, max-content);
      column-gap: rem(24);
      margin-block-start: rem(79);
    }

    @include breakpoint(large) {
      justify-self: center;
      column-gap: rem(16);
      margin-block-start: 0;
    }
  }

  &__description {
    position: relative;
    line-height: 1;

    &:nth-of-type(1) {
      grid-area: monthly;
    }

    &:nth-of-type(2) {
      grid-area: yearly;
      display: inline-flex;
      align-items: center;
      column-gap: rem(10);
    }
  }

  &__discount {
    --discount-w: 4rem;
    --discount-h: 1.875rem;
    width: var(--discount-w);
    height: var(--discount-h);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    // position: relative;
    position: absolute;
    left: calc(100% - rem(10));
    background-color: $light-grayish-red;
    border-radius: calc(var(--discount-h) / 2);
    font-size: rem(18);
    line-height: 1;
    color: $light-red;

    @include breakpoint(medium) {
      --discount-w: 5.125rem;
      --discount-h: 2.375rem;
      left: calc(100% + rem(10));
      font-size: rem(18);
    }

    @include breakpoint(large) {
      --discount-w: 5rem;
      --discount-h: 1.25rem;
      right: calc(-100% - rem(10));
      font-size: rem(10);
      font-weight: 800;
    }

    &::before {
      content: '-25%';

      @include breakpoint(large) {
        content: '25% discount';
      }
    }
  }

  &__divider {
    height: rem(1);
    border: none;
    margin-inline: calc(var(--card-padding-inline) * -1);
    background-color: $light-grayish-blue-100;
  }

  &__bottom {
    display: grid;
    justify-items: center;
    padding-block: rem(48) rem(68);

    @include breakpoint(large) {
      align-items: center;
      grid-template-columns: repeat(2, auto);
      padding-block: rem(32) rem(32);
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: rem(21);
    margin-block-end: rem(64);

    @include breakpoint(large) {
      justify-self: flex-start;
      align-items: flex-start;
      row-gap: rem(10);
      margin-block-end: 0;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: rem(32);

    @include breakpoint(large) {
      column-gap: rem(16);
    }

    svg {
      width: rem(18);
      height: rem(16);

      @include breakpoint(large) {
        width: rem(9);
        height: rem(8);
      }
    }
  }
}
