@use '../abstracts' as *;

.card {
  width: min(100%, rem(654));
  background-color: $white;
  
  @include breakpoint(medium) {
    --card-padding-inline: 1.5rem;
    border-radius: rem(14);
    padding: rem(68) var(--card-padding-inline);
  }

  &__top {
    display: grid;
    justify-items: center;
    grid-template-areas: 'heading' 'slider' 'price' 'options';
  }

  &__heading {
    grid-area: heading;
  }

  &__price {
    display: inline-flex;
    align-items: center;
    column-gap: rem(22);
    grid-area: price;
    font-size: 1.75rem;
  }

  &__value {
    font-size: var(--fs-400);
    font-weight: 600;
    line-height: 1;
  }

  &__slider {
    --thumb-size: 5rem;
    --thumb-transition: background-color 300ms ease;
    --thumb-shadow: 0 1.5rem 1.25rem 0.125rem hsl(174, 77%, 80%, 0.8);
    width: min(100%, rem(558));
    height: rem(16);
    grid-area: slider;
    background-color: $soft-cyan;
    border-radius: rem(8);
    margin-block: rem(80) rem(93);
    -webkit-appearance: none;
    appearance: none;
    outline: none;

    &::-webkit-slider-thumb {
      width: var(--thumb-size);
      height: var(--thumb-size);
      background: $strong-cyan url('../../images/icon-slider.svg') center / auto rem(26) no-repeat;
      border-radius: 50%;
      border: none;
      -webkit-appearance: none;
      appearance: none;
      box-shadow: var(--thumb-shadow);
      cursor: pointer;
      transition: var(--thumb-transition);

      &:hover {
        background-color: $soft-cyan;
      }

      &:active {
        background-color: $strong-cyan;
      }
    }

    &::-moz-range-thumb {
      width: var(--thumb-size);
      height: var(--thumb-size);
      background: $strong-cyan url('../../images/icon-slider.svg') center / auto rem(26) no-repeat;
      border-radius: 50%;
      border: none;
      box-shadow: var(--thumb-shadow);
      cursor: pointer;
      transition: var(--thumb-transition);

      &:hover {
        background-color: $soft-cyan;
      }

      &:active {
        background-color: $strong-cyan;
      }
    }
  }

  &__options {
    grid-area: options;
    justify-self: flex-end;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-areas: 'monthly toggle yearly';
    grid-template-columns: repeat(3, max-content);
    column-gap: rem(24);
    position: relative;
    margin-block: rem(79);
  }

  &__description {
    &:nth-of-type(1) {
      grid-area: monthly;
    }

    &:nth-of-type(2) {
      grid-area: yearly;
      display: inline-flex;
      align-items: center;
      column-gap: rem(10);
    }
  }

  &__discount {
    --discount-w: 5.125rem;
    --discount-h: 2.375rem;
    display: inline-block;
    width: var(--discount-w);
    height: var(--discount-h);
    background-color: $light-grayish-red;
    border-radius: calc(var(--discount-h) / 2);
    padding: rem(7);
    font-size: rem(18);
    color: $light-red;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;

    span {
      display: none;

      @include breakpoint(large) {
        display: inline-block;
      }
    }
  }

  &__divider {
    height: rem(1);
    border: none;
    margin-inline: calc(var(--card-padding-inline) * -1);
    background-color: $light-grayish-blue-100;
  }
}
