@use '../abstracts' as *;

.intro {
  height: clamp(rem(240), 65vw, rem(290));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('../../images/pattern-circles.svg') center / auto 100% no-repeat;
  margin-block: rem(114) rem(64);

  @include breakpoint(large) {
    height: rem(145);
    margin-block: rem(67) rem(54);
  }

  &__description {
    max-width: 22ch;
    line-height: 1.9em;
    margin-block-start: rem(15);

    @include breakpoint(large) {
      max-width: none;
      margin-block-start: rem(10);
    }
  }
}
