@use '../abstracts' as *;

.slider {
  --slider-w: 34.875rem;
  --slider-h: 0.75rem;
  --thumb-size: 3.5rem;
  --thumb-icon-h: 1.125rem;
  --thumb-shadow: 0 2rem 1rem 0.125rem hsl(174, 77%, 80%, 0.8);
  --thumb-transition: background-color 300ms ease;
  --slider-margin-b: 3.75rem 4.25rem;
  width: min(100%, var(--slider-w));
  height: var(--slider-h);
  grid-area: slider;
  background-image: linear-gradient(to right, var(--soft-cyan) 0%, var(--soft-cyan) 50%, var(--light-grayish-blue-100) 50%, var(--light-grayish-blue-100) 100%);
  border-radius: calc(var(--slider-h) / 2);
  margin-block: var(--slider-margin-b);
  appearance: none;
  outline: none;

  @include breakpoint(medium) {
    --slider-w: 34.875rem;
    --slider-h: 1rem;
    --thumb-size: 5rem;
    --thumb-icon-h: 1.625rem;
    --thumb-shadow: 0 2rem 1.25rem 0.125rem hsl(174, 77%, 80%, 0.8);
    --slider-margin-b: 5rem 5.813rem;
  }

  @include breakpoint(large) {
    --slider-w: 27.75rem;
    --slider-h: 0.5rem;
    --thumb-size: 2.5rem;
    --thumb-icon-h: 0.813rem;
    --thumb-shadow: 0 1rem 1.25rem 0.125rem hsl(174, 77%, 80%);
    --slider-margin-b: 2.875rem 3.563rem;
  }

  &:focus-visible::-webkit-slider-thumb {
    outline: rem(2) solid var(--dark-desaturated-blue);
  }

  &:focus-visible::-moz-range-thumb {
    outline: rem(2) solid var(--dark-desaturated-blue);
  }

  &::-webkit-slider-thumb {
    width: var(--thumb-size);
    height: var(--thumb-size);
    background: var(--strong-cyan) url('../../images/icon-slider.svg') center / auto var(--thumb-icon-h) no-repeat;
    border-radius: 50%;
    border: none;
    box-shadow: var(--thumb-shadow);
    appearance: none;
    cursor: pointer;
    transition: var(--thumb-transition);

    &:hover {
      background-color: var(--soft-cyan);
    }

    &:active {
      background-color: var(--strong-cyan);
      cursor: grabbing;
    }

    @media screen and (prefers-reduced-motion: reduce) {
      transition-duration: 0.01ms !important;
    }
  }

  &::-moz-range-thumb {
    width: var(--thumb-size);
    height: var(--thumb-size);
    background: var(--strong-cyan) url('../../images/icon-slider.svg') center / auto var(--thumb-icon-h) no-repeat;
    border-radius: 50%;
    border: none;
    box-shadow: var(--thumb-shadow);
    cursor: pointer;
    transition: var(--thumb-transition);

    &:hover {
      background-color: var(--soft-cyan);
    }

    &:active {
      background-color: var(--strong-cyan);
      cursor: grabbing;
    }

    @media screen and (prefers-reduced-motion: reduce) {
      transition-duration: 0.01ms !important;
    }
  }
}
