@use '../abstracts' as *;

body {
  min-height: 100vh;
  background: $very-pale-blue url('../../images/bg-pattern.svg') top left / auto 50% no-repeat;
}

.design {
  position: absolute;
  inset: 0;
  opacity: 0.5;
  pointer-events: none;
  // z-index: -1;
}
