@use '../abstracts' as *;

body {
  background: $very-pale-Blue url('../../images/bg-pattern.svg') top left / cover no-repeat;
}

.design {
  position: absolute;
  inset: 0;
  opacity: 0.5;
  pointer-events: none;
  // z-index: -1;
}
