@use '../abstracts' as *;

.footer {
  margin-block-start: rem(64);
  text-align: center;

  &__attribution {
    padding: rem(20);
    font-size: clamp(rem(14), 4.5vw, rem(16));
    line-height: 1.8em;

    a:hover {
      color: var(--dark-desaturated-blue);
      text-decoration: underline;
    }

    .fa-heart {
      color: var(--dark-desaturated-blue);
      margin-inline: 0.125em;
      animation: heart-pulse 2000ms linear infinite;

      @keyframes heart-pulse {
        0%,
        100% {
          transform: scale(1.2);
        }

        50% {
          transform: scale(1);
        }
      }
    }
  }
}
